ANGBAND MENU
{
        POPUP "&File"
        {
                MENUITEM "&New", 100
                MENUITEM "&Open...", 101
                MENUITEM SEPARATOR
                MENUITEM "&Save", 110
                MENUITEM SEPARATOR
                MENUITEM "Show S&cores", 120
                MENUITEM SEPARATOR
                MENUITEM "E&xit", 130
        }

        POPUP "&Window"
        {
                POPUP "&Visibility"
                {
                        MENUITEM "&sCthAngband", 200
                        MENUITEM "Term-&1", 201
                        MENUITEM "Term-&2", 202
                        MENUITEM "Term-&3", 203
                        MENUITEM "Term-&4", 204
                        MENUITEM "Term-&5", 205
                        MENUITEM "Term-&6", 206
                        MENUITEM "Term-&7", 207
                }

                POPUP "&Font"
                {
                        MENUITEM "&sCthAngband", 210
                        MENUITEM "Term-&1", 211
                        MENUITEM "Term-&2", 212
                        MENUITEM "Term-&3", 213
                        MENUITEM "Term-&4", 214
                        MENUITEM "Term-&5", 215
                        MENUITEM "Term-&6", 216
                        MENUITEM "Term-&7", 217
                }

                MENUITEM SEPARATOR

                POPUP "&Bizarre Display"
                {
                        MENUITEM "&sCthAngband", 230
                        MENUITEM "Term-&1", 231
                        MENUITEM "Term-&2", 232
                        MENUITEM "Term-&3", 233
                        MENUITEM "Term-&4", 234
                        MENUITEM "Term-&5", 235
                        MENUITEM "Term-&6", 236
                        MENUITEM "Term-&7", 237
                }

                POPUP "&Increase Tile Width"
                {
                        MENUITEM "&sCthAngband", 240
                        MENUITEM "Term-&1", 241
                        MENUITEM "Term-&2", 242
                        MENUITEM "Term-&3", 243
                        MENUITEM "Term-&4", 244
                        MENUITEM "Term-&5", 245
                        MENUITEM "Term-&6", 246
                        MENUITEM "Term-&7", 247
                }

                POPUP "&Decrease Tile Width"
                {
                        MENUITEM "&sCthAngband", 250
                        MENUITEM "Term-&1", 251
                        MENUITEM "Term-&2", 252
                        MENUITEM "Term-&3", 253
                        MENUITEM "Term-&4", 254
                        MENUITEM "Term-&5", 255
                        MENUITEM "Term-&6", 256
                        MENUITEM "Term-&7", 257
                }

                POPUP "I&ncrease Tile Height"
                {
                        MENUITEM "&sCthAngband", 260
                        MENUITEM "Term-&1", 261
                        MENUITEM "Term-&2", 262
                        MENUITEM "Term-&3", 263
                        MENUITEM "Term-&4", 264
                        MENUITEM "Term-&5", 265
                        MENUITEM "Term-&6", 266
                        MENUITEM "Term-&7", 267
                }

                POPUP "D&ecrease Tile Height"
                {
                        MENUITEM "&sCthAngband", 270
                        MENUITEM "Term-&1", 271
                        MENUITEM "Term-&2", 272
                        MENUITEM "Term-&3", 273
                        MENUITEM "Term-&4", 274
                        MENUITEM "Term-&5", 275
                        MENUITEM "Term-&6", 276
                        MENUITEM "Term-&7", 277
                }
        }

        POPUP "&Options"
        {
                POPUP "&Graphics"
                {
                        MENUITEM "&None", 400
                        MENUITEM "&Old tiles", 401
                        MENUITEM "&Adam Bolt's tiles", 402
                }

                MENUITEM "&Sound", 410
                MENUITEM SEPARATOR
                MENUITEM "&Low Priority", 420
                MENUITEM "&Activate Screensaver", 430
        }

        POPUP "&Help"
        {
                MENUITEM "&Contents", 901
                MENUITEM "&Spoilers", 902
        }
}

ANGBAND ICON "angband.ico"
